    <!-- Menu Bar -->
    <ul class="sidebar-menu" data-widget="tree">
    <li class="header">Navegacion Principal</li>
    <!-- Optionally, you can add icons to the links -->
    <li class=""><a href="~/Home/Index"><i class="fa fa-dashboard"></i> <span>Inicio</span></a></li>

    <li class="header">Operaciones</li>
    <li class=""><a href="~/Producto/Index"><i class="fa fa-circle-o-notch"></i> <span>Helados</span></a></li>
    <li class=""><a href="~/Cliente/Index"><i class="fa fa-users"></i> <span>Clientes</span></a></li>

    <li class="header">POS</li>
    <li class="treeview">
        <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> <span>Ventas</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
        <li><a href="~/Venta/Index">Listar Ventas</a></li>
        <li><a href="~/Venta/Create">Venta Nueva</a></li>
        </ul>
    </li>  
    <li class="treeview">
        <a href="#"><i class="fa fa-file-excel-o"></i> <span>Pedidos</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
        <li><a href="~/Pedido/Index">Listar Pedidos</a></li>
        <li><a href="~/Pedido/Create">Pedido Nuevo</a></li>       
        </ul>
    </li>  

    </ul>
    <!-- Fin Menu Bar -->
