    <section class="content-header">
        <style>
            .titulo h1 {
                    text-align: center;
                    }

            .logo img {
                    display:block;
                    margin:auto;
                    }
         </style>

        <div class="titulo">
                <h1>
                    Heladeria Los Freezados
                    <small></small>
                </h1>
        </div>
    </section>
    
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="logo" text-align="center">
            <img src="~/dist/img/logoo.png">
        </div>
    </section>